.trim-red {
    font-size: 25px;
    font-weight: bold;
    background-color: #8E6F6C;
}

.trim-drkgreen {
    font-size: 20px;
    font-weight: bold;
    background-color: #47564F;
}

.trim-smtgreen {
    font-size: 15px;
    font-weight: bold;
    background-color: #95AB99;
}

.trim-grykhaki {
    font-size: 12px;
    background-color: #D5DBDB;
}

.trim-drkbeige {
    font-size: 12px;
    background-color: #E7E6E5;
}

.trim-crmbeige {
    font-size: 12px;
    background-color: #F3F3ED;
}


header,
nav,
main,
article,
section,
aside,
footer {
    /* 각 각의 블록 간 여백을 주기위해 하나로 통합하여 margin 적용*/
    margin: 10px;
}

p {
    border: 3px;

}

body {
    width: 1280px;
    height: 1024px;
    border: 3px solid;
    border-color: red;
    padding: 15px;
    border-radius: 5px;
}

header {
    height: 10%;
    border: 3px dashed;
    border-color: darkolivegreen;
    border-radius: 5px;
}

nav {
    border: 2px dotted;
    border-color: peru;
    border-radius: 5px;
}


section {
    height: 60%;
    border: 3px dashed;
    border-color: brown;
    border-radius: 5px;
}

main {
    height: 100%;
    border: 3px dashed;
    border-color: brown;
    border-radius: 5px;
}

article {
    float: left;
    width: 60%;
    height: 100%;
    border: 2px dotted;
    border-color: green;
    border-radius: 5px;
}

aside {
    float: right;
    width: 35%;
    height: 80%;
    border: 2px dotted;
    border-color: green;
    border-radius: 5px;
}

footer {
    height: 10%;
    border: 3px dashed;
    border-color: blueviolet;
    border-radius: 5px;
}

.tb_w01 {
    width: 250px;
}

.tb_w02 {
    width: 100px;
}

.tb_w03 {
    width: 80px;
}

.tb_header {
    font-weight: bold;
    background-color: darkolivegreen;
    color: white;
}

.tb_sel {
    border: 1px solid;
}